* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
      background-color: #111927;
    background-image: 
        radial-gradient(at 49% 50%, hsl(230.85, 48%, 30%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(232.00, 37%, 8%) 0, transparent 55%);
}
